In [1]:
import os 
import csv 
import pandas as pd

In [2]:
file_to_load = "Resources/july.csv"
file_to_load2 = "Resources/aug.csv"
file_to_load3 = "Resources/sept.csv"
file_to_load4 = "Resources/octo.csv"
file_to_load5 = "Resources/nov.csv"
file_to_load6 = "Resources/dec.csv"


july = pd.read_csv(file_to_load)
aug = pd.read_csv(file_to_load2)
sept = pd.read_csv(file_to_load3)
octo = pd.read_csv(file_to_load4)
nov = pd.read_csv(file_to_load5)
dec = pd.read_csv(file_to_load6)

In [3]:
jul_dec = [july, aug, sept, octo, nov, dec]

In [4]:
yr7_12 = pd.concat(jul_dec)

In [5]:
yr7_12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1

In [6]:
yr7_12.to_csv("2020 July to Dec.csv")

In [7]:
year_totals = {"2020 July-Dec": ['July','August','September','October','November','December'], 
'Number of Trips': [len(july),len(aug),len(sept),len(octo),len(nov),len(dec)]}

In [8]:
year_totals_df = pd.DataFrame(year_totals)
year_totals_df.head()

  2020 July-Dec  Number of Trips
0          July          2105808
1        August          2329514
2     September          2488225
3       October          2248869
4      November          1736704

In [9]:
year_totals_df.to_csv("Trips per Month 2020 July to Dec.csv")